# 🐍 Python virtual environments
venv/
venv-*/
*/venv/
*/venv-*/

# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore everything inside uploads and yamnet folders
uploads/*
!uploads/.gitkeep

yamnet/*
!yamnet/.gitkeep
temp.wav

# 💻 VS Code settings
.vscode/
analyzer/yamnet/yamnet_class_map.csv
analyzer/yamnet/yamnet.tflite

/frontend/node_modules
/frontend/build
/backend/target
*.class
